<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook social"></i>
            <i class="fa-brands fa-instagram social"></i>
            <i class="fa-brands fa-x-twitter social"></i>
        </div>
        <div class="f-info-brand">
            <i class="fa-regular fa-copyright"></i> 2024 WonderSphere, Inc.
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/sitemap">Sitemap</a>
        </div>

    </div>
</footer>